---
import '../scss/global.scss';
import '../scss/explorers.scss';
// Component Imports
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

// Constants
const { title = 'Explorers' } = Astro.props;
const pis = [
	{
		name: '',
		link: '',
		photo: '',
		desc: ''
	},
	{
		name: 'Dr. Ashutosh Modi',
		link: 'https://ashutosh-modi.github.io/',
		photo: 'https://ashutosh-modi.github.io/pictures/Ashutosh-New.jpg',
		desc: 'Assistant Professor (Department of Computer Science Engineering - IIT Kanpur)'
	},
]
const phds = [
	{
		name: 'Abhinav Joshi',
		link: 'https://www.cse.iitk.ac.in/users/ajoshi/',
		photo: 'https://www.cse.iitk.ac.in/users/ajoshi/images/self_image.png',
		desc: '2020 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Divyaksh Shukla',
		link: 'https://divyakshshukla.com',
		photo: 'https://www.cse.iitk.ac.in/profileimages/divyaksh.jpg',
		desc: '2023 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Sanjeet Singh',
		link: 'https://sites.google.com/view/sanjeet-singh/',
		photo: '/img/profile-picture/Sanjeet-Singh.jpg',
		desc: '2023 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Pushkar Bharadwaj',
		link: 'https://pushkarbhardwaj1.github.io/',
		photo: '/img/team/pushkarb_sq.jpg',
		desc: '2023 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Deepali Mishra',
		link: 'https://mishra-deepali.github.io/portfolio/',
		photo: '/img/team/deepali.jpg',
		desc: '2023 (Joint Doctorate, Asian Institute of Technology & Computer Science Engineering - IIT Kanpur)'
	}
];
const grads = [
	
	{
		name: 'Tafazzul Nadeem',
		link: '#',
		photo: '/img/profile-picture/Tafazzul-Nadeem.jpg',
		desc: 'MS-Research 2023 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Chaitanya Patil',
		link: '#',
		photo: '/img/profile-picture/Chaitanya-Patil.jpeg',
		desc: 'Mtech 2024 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Dattatreya Pokala',
		link: '#',
		photo: '/img/profile-picture/dattatreya pokala.jpg',
		desc: 'Mtech 2024 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Gautam Raj',
		link: '#',
		photo: '/img/profile-picture/gautam raj.jpeg',
		desc: 'Mtech 2024 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Junth Basnet',
		link: '#',
		photo: '/img/profile-picture/Junth Basnet.jpeg',
		desc: 'Mtech 2024 (Computer Science Engineering - IIT Kanpur)'
	},

	{
		name: 'Aman Kumar Singh',
		link: '#',
		photo: '/img/profile-picture/Aman Kumar Singh.JPG',
		desc: 'Mtech 2024 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Prabhakar Pandey',
		link: '#',
		photo: '/img/profile-picture/PRABHAKAR PANDEY.JPG',
		desc: 'Mtech 2024 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Himalaya Kaushik',
		link: '#',
		photo: '/img/profile-picture/Himalaya Kaushik.jpeg',
		desc: 'Mtech 2024 (Computer Science Engineering - IIT Kanpur)'
	},
	

];
const ugs = [
	
	{
		name: 'Ritesh Baviskar',
		link: 'https://www.linkedin.com/in/ritesh-baviskar-58baab271/',
		photo: '/img/profile-picture/Ritesh-Baviskar.jpg',
		desc: 'Btech (Computer Science Engineering - IIT Kanpur)'
	},
	
];
const ras = [
   {
		name: 'Shivani Mishra',
		link: 'https://www.linkedin.com/in/shivani-mishra-647797191?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app',
		photo: '/img/profile-picture/Shivani-Mishra.jpg',
		desc: 'Research Associate (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Areeb Ahmad',
		link: 'https://in.linkedin.com/in/areeb-ahmad-987b56143',
		photo: 'https://www.cse.iitk.ac.in/profileimages/default.png',
		desc: 'Research Associate (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Pooja Harde',
		link: 'http://www.linkedin.com/in/pooja-harde',
		photo: '/img/profile-picture/Pooja Harde.jpg',
		desc: 'Research Associate (Computer Science Engineering - IIT Kanpur)'
	},
];
const alumini = [
   {
		name: 'Akshat Sharma',
		link: 'https://www.linkedin.com/in/akshat-sharma-0b19881b2/',
		photo: '/img/profile-picture/Akshat-Sharma.jpeg',
		desc: 'Btech (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Sai Kiran Tanikella',
		link: 'https://www.linkedin.com/in/kiran-tanikella',
		photo: '/img/profile-picture/Saikiran-Tanikella.jpeg',
		desc: 'Mtech (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Bhavya Gupta',
		link: 'https://www.linkedin.com/in/bhavya-gupta-685325163?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app',
		photo: '/img/profile-picture/Bhavya-Gupta.jpg',
		desc: 'MTech (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Shreyasi Mandal',
		link: 'https://www.linkedin.com/in/shreyasi-mandal-929778210/',
		photo: '/img/profile-picture/Shreyasi-Mandal.jpeg',
		desc: 'Btech (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Vaibhav Sharma',
		link: 'https://www.linkedin.com/in/vshs',
		photo: '/img/profile-picture/Vaibhav-Sharma.jpg',
		desc: 'MS-Research 2022 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Dhananjay Sanjay Ghumare',
		link: '#',
		photo: 'https://www.cse.iitk.ac.in/profileimages/default.png',
		desc: 'MS-Research 2022 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Yashwanth Holla',
		link: 'http://www.linkedin.com/in/yashwanth-holla-014661170',
		photo: '/img/profile-picture/Yashwanth-Holla.png',
		desc: 'Mtech 2023 (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Siddhant Shivdutt Singh',
		link: 'https://www.linkedin.com/in/siddhant-singh-2002/',
		photo: '/img/profile-picture/Siddhant-Singh.png',
		desc: 'BS-MS (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Harsh Bihany',
		link: 'https://www.linkedin.com/in/harsh-bihany-b21a88230/',
		photo: '/img/profile-picture/Harsh-Bihany.JPG',
		desc: 'Btech (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Shubham Patel',
		link: 'https://www.linkedin.com/in/shubham-patel-iitk/',
		photo: '/img/profile-picture/Shubham-Patel.png',
		desc: 'Btech (Computer Science Engineering - IIT Kanpur)'
	},
	{
		name: 'Saranya Pal',
		link: 'https://www.linkedin.com/in/saranya-pal-387672233/',
		photo: '/img/profile-picture/Saranya-Pal.jpeg',
		desc: 'Btech 2022 (Computer Science Engineering - IIT Kanpur)'
	},
	];
---

<html lang="en">
	<head>
		<MainHead />
		<style>
			body {
				font-family: 'Arial', sans-serif;
				margin: 0;
				padding: 0;
				background-color: #f4f4f4;
			}
			.card img {
				object-fit: cover; /* Ensures the image fills the area without distortion */
                width: 100%; /* Matches the parent element width */
                height: 100%; /* Matches the parent element height */
                aspect-ratio: 1/1; /* Makes the image square */
                border-radius: 10%; 
			}

		</style>
	</head>
	<body>
		<Navbar active="explorers" />
        <div class="custom-container">
			<div class="accordion" id="accordionExplorers">
				<div class="accordion-item">
					<h2 class="accordion-header" id="panel-piHeading">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-piCollapse" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
						<h5>PI / Professors</h5>
						</button>
					</h2>
					<div id="panel-piCollapse" class="accordion-collapse collapse show" aria-labelledby="panel-piHeading">
						<div class="accordion-body">
							<div class="row">
								{pis.map((student) => {if (student.desc == '') return (<div class="col-md-4"></div>); else return(
									<div class="col-md-12">
										<a href={student.link} target="_blank" style="text-decoration: none;">
											<div class="card mb-3">
												<div class="row g-0">
													<div class="col-4">
														<img src={student.photo} class="img-fluid rounded-start" alt="...">
													</div>
													<div class="col-8 d-flex align-items-center">
														<div class="card-body">
															<h5 class="card-title">{student.name}</h5>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
								)})}
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="panel-phdHeading">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-phdCollapse" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
						<h5>PhD Students</h5>
						</button>
					</h2>
					<div id="panel-phdCollapse" class="accordion-collapse collapse show" aria-labelledby="panel-phdHeading">
						<div class="accordion-body">
							<div class="row">
								{phds.map((student) => (
									<div class="col-md-6">
										<a href={student.link} target="_blank" style="text-decoration: none;">
											<div class="card mb-3" style="max-width: 540px;">
												<div class="row g-0">
													<div class="col-4">
														<img src={student.photo} class="img-fluid rounded-start" alt="...">
													</div>
													<div class="col-8 d-flex align-items-center">
														<div class="card-body">
															<h5 class="card-title">{student.name}</h5>
															<p class="card-text">{student.desc}</p>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
								))}
							</div>
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header" id="panel-gradHeading">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-gradCollapse" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
						<h5>Graduate Students</h5>
						</button>
					</h2>
					<div id="panel-gradCollapse" class="accordion-collapse collapse show" aria-labelledby="panel-gradHeading">
						<div class="accordion-body">
							<div class="row">
								{grads.map((student) => (
									<div class="col-md-6">
										<a href={student.link} target="_blank" style="text-decoration: none;">
											<div class="card mb-3" style="max-width: 540px;">
												<div class="row g-0">
													<div class="col-4">
														<img src={student.photo} class="img-fluid rounded-start" alt="...">
													</div>
													<div class="col-8 d-flex align-items-center">
														<div class="card-body">
															<h5 class="card-title">{student.name}</h5>
															<p class="card-text">{student.desc}</p>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
								))}
							</div>
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header" id="panel-ugHeading">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-ugCollapse" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
						<h5>Under-Graduate Students</h5>
						</button>
					</h2>
					<div id="panel-ugCollapse" class="accordion-collapse collapse show" aria-labelledby="panel-ugHeading">
						<div class="accordion-body">
							<div class="row">
								{ugs.map((student) => (
									<div class="col-md-6">
										<a href={student.link} target="_blank" style="text-decoration: none;">
											<div class="card mb-3" style="max-width: 540px;">
												<div class="row g-0">
													<div class="col-4">
														<img src={student.photo} class="img-fluid rounded-start" alt="...">
													</div>
													<div class="col-8 d-flex align-items-center">
														<div class="card-body">
															<h5 class="card-title">{student.name}</h5>
															<p class="card-text">{student.desc}</p>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
								))}
							</div>
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header" id="panel-raHeading">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-raCollapse" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
						<h5>Research Assistants</h5>
						</button>
					</h2>
					<div id="panel-raCollapse" class="accordion-collapse collapse show" aria-labelledby="panel-raHeading">
						<div class="accordion-body">
							<div class="row">
								{ras.map((student) => (
									<div class="col-md-6">
										<a href={student.link} target="_blank" style="text-decoration: none;">
											<div class="card mb-3" style="max-width: 540px;">
												<div class="row g-0">
													<div class="col-4">
														<img src={student.photo} class="img-fluid rounded-start" alt="...">
													</div>
													<div class="col-8 d-flex align-items-center">
														<div class="card-body">
															<h5 class="card-title">{student.name}</h5>
															<p class="card-text">{student.desc}</p>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
								))}
							</div>
						</div>
					</div>
				</div>


				<div class="accordion-item">
					<h2 class="accordion-header" id="panel-raHeading">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-raCollapse" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
						<h5>Alumini</h5>
						</button>
					</h2>
					<div id="panel-raCollapse" class="accordion-collapse collapse show" aria-labelledby="panel-raHeading">
						<div class="accordion-body">
							<div class="row">
								{alumini.map((student) => (
									<div class="col-md-6">
										<a href={student.link} target="_blank" style="text-decoration: none;">
											<div class="card mb-3" style="max-width: 540px;">
												<div class="row g-0">
													<div class="col-4">
														<img src={student.photo} class="img-fluid rounded-start" alt="...">
													</div>
													<div class="col-8 d-flex align-items-center">
														<div class="card-body">
															<h5 class="card-title">{student.name}</h5>
															<p class="card-text">{student.desc}</p>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
								))}
							</div>
						</div>
					</div>
				</div>


			</div>
        </div>
		<script>
			import 'bootstrap/js/dist/collapse'
		</script>
		<Footer />
	</body>
</html>
