---
// imports
import '../scss/global.scss';
import '../scss/research-areas.scss';

// Component Imports
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
// Constants
const { title = 'Research Areas' } = Astro.props;

const researchAreas = (await Astro.glob('./research-areas/**/index.md')).sort((a, b) => a.frontmatter.priority-b.frontmatter.priority);
---
<html lang="en">
<head>
    <MainHead />
</head>
<body>
    <Navbar active="research" />
    <div class="custom-container">
        <h1>Research Areas</h1>

        <div class="image-container">
            <img src="/img/research/overview.webp" alt="Research Areas Overview" class="img-fluid mb-4" />
        </div>

        {researchAreas.map(area => (
            <div class="row mb-3">
                <a href={area.url} style="text-decoration: none;">
                    <div class="card border-light" style="max-width: 100%;">
                        <div class="row">
                            {(area.frontmatter.priority % 2 !== 0) ? (
                                <>
                                    <div class="col-md-5 col-4">
                                        <img 
                                            src={area.frontmatter.image} 
                                            class="img-fluid rounded-start p-2" 
                                            style="aspect-ratio: 1 / 1;" 
                                            alt={`Image for ${area.frontmatter.title}`} />
                                    </div>
                                    <div class="col-md-7 col-8 d-flex align-items-center">
                                        <div class="card-body">	
                                            <h5 class="card-title">{area.frontmatter.title}</h5>
                                            <p class="card-text">{area.frontmatter.description}</p>
                                        </div>
                                    </div>
                                </>
                            ) : (
                                <>
                                    <div class="col-md-7 col-8 d-flex align-items-center">
                                        <div class="card-body">
                                            <h5 class="card-title">{area.frontmatter.title}</h5>
                                            <p class="card-text">{area.frontmatter.description}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-4">
                                        <img 
                                            src={area.frontmatter.image} 
                                            class="img-fluid rounded-start p-2" 
                                            style="aspect-ratio: 1 / 1;" 
                                            alt={`Image for ${area.frontmatter.title}`} />
                                    </div>
                                </>
                            )}
                        </div>
                    </div>
                </a>
            </div>
        ))}
    </div>
    <Footer />
</body>
</html>

